* {
    font-family: 'Work Sans', sans-serif;
}

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.nav-tittle {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    list-style: none;
    margin-right: 30px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
}

nav>ul>li>a {
    text-decoration: none;
    color: #424242;
}

.banner-content {
    max-width: 862px;
    text-align: center;
    margin: 0px auto;
}

.banner-tittle {
    font-size: 4rem;
    font-weight: 700px;
    color: #131313;
}

.banner-description {
    color: #727272;
    line-height: 1.7rem;
}

.btn-primary {
    border-radius: 8px;
    background-color: #FF900E;
    padding: 25px 20px;
    color: white;
    text-align: center;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;
}
.banner-image{
    width: 100%;
    margin-top: 32px;
}
 

/*  main*/
main{
    max-width: 1440px;
    margin: 70px auto;
}
.teams-container{
    display: flex;
    align-items: center;
}
.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 73px;
}
.teams-title{
    font-size: 2.8rem;
}
.qi{
    color: #727272;
    font-weight: 500;
}
.of{
    color: #131313;
font-weight: 700;
}
.fea{
    color: #FF900E;
    font-weight: 700;
}
.teams-description{
    color: #727272;
font-size: 1rem;
font-weight: 400;
line-height: 1.8rem;
}


/*responsive*/
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav,
    .teams-container{
        flex-direction: column;
    }
    .teams-image-container{
        grid-template-columns: 1fr;
        border-image-width: auto;
    }

}
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 10px;
    }
    nav,
    .teams-container {
        flex-direction: column;
        padding: 10px;
    }
}